<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <base href="<%= baseUrl %>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mission Presenter</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link type="text/css" href="dist/common.css?v=<%= version %>" rel="stylesheet" />
    <link type="text/css" href="dist/audioplot.css?v=<%= version %>" rel="stylesheet" />
    <script src="dist/common.bundle.js?v=<%= version %>"></script>
    <script src="dist/audioplot.bundle.js?v=<%= version %>"></script>
  </head>
  <body >
    <div id="plot" style="width:100%;height: 100px">
</div>
<div id="plot2" style="width:100%;height: 200px">
</div>
<script>
    /* global Plot */
    /* global AudioPlayer */
    /* global console */
    "use strict";

    //var b = new Plot(document.getElementById('plot'));
    //b.load('https://ia902606.us.archive.org/35/items/shortpoetry_047_librivox/song_cjrg_teasdale_64kb.mp3');
        //var b = new Plot(document.getElementById('plot2'));
        //b.load('https://ia801401.us.archive.org/4/items/audio_poetry_74_2006/ShakespeareRomansCountrymen.mp3');
    var b = new AudioPlayer("#plot2");
    b.load('https://ia902606.us.archive.org/35/items/shortpoetry_047_librivox/song_cjrg_teasdale_64kb.mp3');
    //b.load('./dat/audio.wav');
    b.on("mousemove",function(e){
        console.log(e);
    });
    var zoom = new Plot.ZoomPlugin();
    //zoom.addTo(b.plot);

/*
    var select = new Plot.SelectorPlugin();
    select.addTo(b.plot);
    select.on("select",function(e){
        b.loop(e.start.x,e.stop.x);
    });
    */
</script>
  </body>
</html>
